.member-3-YXUe:hover, .selected-aXhQR6 {
    border-right: 4px solid #FF1744;
}

.container-2Pjhx- {
    border-radius: 1px;
}

.theme-dark .headerNormal-T_seeN, .theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6 {
    background-color: #363a45;
    
}

.userPopout-3XzG_A {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 0.2px rgba(32,34,37,.6);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 0.2px rgba(32,34,37,.6);
}

.theme-dark .quickMessage-1yeL4E {
    border-color: #2D3039;
    background-color: #2D3039;
}

.root-SR8cQa, .topSectionNormal-2-vo2m, .body-3ND3kc {
    background-color: #2D3039;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: #FF1744;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: #cc0029;
}

.contextMenu-HLZMGh {
    background-color: #363a45;
}

.messages-3amgkR {
    background-color: #2D3039;
}

.privateChannels-1nO12o {
    background-color: #2D3039;
}

.members-1998pB {
    background-color: #2D3039;
}

.scrollableContainer-2NUZem {
    background-color: #363A45;
}

.scroller-2TZvBN {
    background-color: #1C1E24;
    border-right: 2px solid #ff1744;
}

.sidebar-2K8pFh {
    background: #2D3039;
}

.container-PNkimc {
    background-color: #2D3039;
}

.panels-j1Uci_ {
    background-color: #2D3039;
}

.expandedFolderBackground-2sPsd- {
    background-color: #2D3039;
}

.chat-3bRxxu {
    background-color: #2D3039;
}

.form-2fGMdU {
    background: #2D3039;
    border-top: 0;
}

.bg-h5JY_x {
    background-color: #2D3039;
}

.container-1r6BKw.themed-ANHk51 {
    background-color: #2D3039;
}

.app-2rEoOp {
    background-color: #2D3039;
}

.appMount-3lHmkl, body {
    background-color: #1C1E24;
}

.typeWindows-1za-n7 {
    background-color: #1C1E24;
}

.childWrapper-anI2G9, .noIcon-1a_FrS {
    background-color: #FF1744;
    color: white;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: #cc0029;
}

.circleIconButton-jET_ig {
    background-color: #FF1744;
    color: white;
}

.containerCozyBounded-1rKFAn {
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

    border: none;
    background-color: #363a45;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius: 2px;
}

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 3px;
    background-color: #363a45;
    background-clip: padding-box;

 }

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    border: none;
    border-radius: 0;
    background-color: #282b33;
    background-clip: padding-box;
}

.containerDefault-1ZnADq:hover, .selected-37j_iU, .modeConnected-2IEL4z {
    border-left: 4px solid #ff1744;
}

.item-2hkk8m {
    background-color: #FF1744;
}

.unread-3zKkbm {
    background-color: #FF1744;
}

.iconBadge-2wi9r4.participating-NBGDkr {
    background-color: #FF1744;
}

.expandedFolderIconWrapper-1xLaU- svg {
    color: white;
}

.divider-3gKybi {
    margin-bottom: 5px;
}

.divider-3gKybi {
    color: #ced1d4;
}

.dividerContent-2L12VI:after, .dividerContent-2L12VI:before {
    background-color: #ced1d4;
}

.theme-dark .uploadModal-2ifh8j, .theme-dark .footer-3mqk7D {
    background-color: #2D3039;
}

.bf-toolbar:before {
    background: #363a45;
}

.container-1r6BKw, .header-2o-2hj {
    border-bottom: 2px solid #ff1744;
}

.menu-Sp6bN1 {
    background-color: #1C1E24;
}

.theme-dark .autocomplete-1vrmpx {
    background-color: #363A45;
}

.scroller-1JbKMe {
    background-color: #2D3039;
}

.friendsTable-133bsv .friendsTableBody-1ZhKif, .friendsTable-133bsv .friendsTableHeader-32yE7d {
    background-color: #2D3039;
}

.friendsTable-133bsv {
    padding-top: 0;
}
